body {
  background-color: rgb(187, 209, 202);
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery li {
  list-style-type: none;
}

.photo-card {
  margin: 10px;
}

.photo-card img {
  max-width: 300px;
}

.material-icons {
  font-weight: 600;
}
